<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        Hello, world!


    Wanaa no more to go to index1.html.it also see date,time
        <a href="{{url_for('sougata')}}">see more</a>


        <ol>
           <li>
               note
           </li>
        </ol>

        {%for note in notes%}
        <ul>

            <li>{{note}}</li>

        </ul>
        {%endfor%}
<form action="{{url_for('index')}}" method="POST">
    <input type="text" name="note" placeholder="enter note">
    <button>add</button>
</form>

    </body>
</html>
